@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap);
@charset "UTF-8";
@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/Arial-Italic.woff2") format("woff2"), url("../fonts/Arial-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ArialRegular;
  font-display: swap;
  src: url("../fonts/ArialRegular.woff2") format("woff2"), url("../fonts/ArialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/Georgia-Italic.woff2") format("woff2"), url("../fonts/Georgia-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: inline-block;
}

._icon-collars-or-leashes:before {
  content: "\e900";
}

._icon-bowls-and-cups:before {
  content: "\e901";
}

._icon-credit-card:before {
  content: "\e902";
}

._icon-location-pin:before {
  content: "\e903";
}

._icon-mail:before {
  content: "\e904";
}

._icon-medicines:before {
  content: "\e905";
}

._icon-pet-food:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-shampoos:before {
  content: "\e908";
}

._icon-sleeping-area:before {
  content: "\e909";
}

._icon-toys:before {
  content: "\e90a";
}

._icon-transportation:before {
  content: "\e90b";
}

._icon-vitamins:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4C4C4C;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  max-width: 75rem;
  box-sizing: content-box;
}
@media (max-width: 79.9375em) {
  [class*=__container] {
    max-width: 44.25rem;
    padding: 0 1.875rem;
  }
}
@media (max-width: 48.06125em) {
  [class*=__container] {
    max-width: 18.75rem;
    padding: 0 0.625rem;
  }
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 1;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #FAFAFA;
  padding: 0;
  width: 100%;
  border-radius: 9px;
}
.lock .popup__content {
  visibility: visible;
}

.popup__content {
  max-width: 900px;
  min-height: 338px;
  display: flex;
  justify-content: center;
}
@media (max-width: 79.9375em) {
  .popup__content {
    max-width: 630px;
    min-height: 350px;
  }
}
@media (max-width: 48.06125em) {
  .popup__content {
    max-width: 240px;
    min-height: 341px;
  }
}
.popup__close {
  position: absolute;
  top: -52px;
  right: -42px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}
.popup__close:hover {
  background-color: #F1CDB3;
}
@media (max-width: 48.06125em) {
  .popup__close {
    right: -30px;
  }
}
.popup__img-warp {
  flex: 1 1 55.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px 0 0 9px;
  overflow: hidden;
}
@media (max-width: 48.06125em) {
  .popup__img-warp {
    display: none;
  }
}
.popup__img {
  width: 100%;
}
.popup__text-wrap {
  flex: 1 1 44.5%;
  display: flex;
  flex-direction: column;
  padding: 5.55% 2.22% 5.55% 3.22%;
}
@media (max-width: 79.9375em) {
  .popup__text-wrap {
    padding: 10px 9px;
  }
}
@media (max-width: 48.06125em) {
  .popup__text-wrap {
    align-items: center;
  }
}
.popup__nickname {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__breed {
  margin-top: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__description, .popup__parameters-list {
  margin-top: 12%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 79.9375em) {
  .popup__description, .popup__parameters-list {
    margin-top: 20px;
  }
}
@media (max-width: 79.9375em) {
  .popup__description {
    font-size: 0.8125rem;
  }
}
@media (max-width: 48.06125em) {
  .popup__description {
    text-align: justify;
  }
}
@media (max-width: 48.06125em) {
  .popup__parameters-list {
    align-self: flex-start;
  }
}
@media (max-width: 48.06125em) {
  .popup__parameters-list {
    margin-top: 23px;
  }
}
.popup__parameters-item:not(:last-child) {
  margin-bottom: 3%;
}
@media (max-width: 79.9375em) {
  .popup__parameters-item:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media (max-width: 48.06125em) {
  .popup__parameters-item:not(:last-child) {
    margin-bottom: 6px;
  }
}
.popup__parameters-item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #F1CDB3;
  vertical-align: middle;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 80px 0 100px 0;
}
@media (max-width: 48.06125em) {
  .section {
    padding: 42px 0;
  }
}

.logo-mobile-menu__title, .logo-header__title,
.not-only-section__title,
.pets-page .our-friends-section__tittle,
.visit-details__title,
.contact-details__title,
.in-addiction-section__title,
.help-section__title,
.our-friends-section__title,
.about-section__title,
.pets-page .friends-slider__controls,
.visit-details__boston-address,
.visit-details__london-address,
.contact-details__email,
.contact-details__phone,
.in-addiction-section__card-number,
.help-options__text,
.in-addiction-section__subtitle,
.our-friends-section__know-rest-btn,
.not-only-section__button,
.main-page .friends-slider__controls,
.friend-card__learn-btn,
.friend-card__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.logo-mobile-menu__title, .logo-header__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.not-only-section__title {
  font-size: 2.75rem;
  line-height: 130%;
}

.pets-page .our-friends-section__tittle, .visit-details__title, .contact-details__title, .in-addiction-section__title, .help-section__title, .our-friends-section__title, .about-section__title {
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.pets-page .friends-slider__controls, .visit-details__boston-address, .visit-details__london-address, .contact-details__email, .contact-details__phone, .in-addiction-section__card-number, .help-options__text {
  font-size: 1.25rem;
  line-height: 115%;
}

.in-addiction-section__subtitle {
  font-size: 0.9375rem;
  line-height: 110%;
}

@media (max-width: 48.06125em) {
  .pets-page .our-friends-section__tittle, .visit-details__title, .contact-details__title, .in-addiction-section__title, .help-section__title, .our-friends-section__title, .about-section__title {
    font-size: 1.5625rem;
  }
}
.logo-mobile-menu__subtitle, .logo-header__subtitle,
.about-section__paragraph1,
.about-section__paragraph2,
.not-only-section__paragraph,
.header-menu__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.logo-mobile-menu__subtitle, .logo-header__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.about-section__paragraph1, .about-section__paragraph2, .not-only-section__paragraph, .header-menu__link {
  font-size: 0.9375rem;
}

.our-friends-section__know-rest-btn, .not-only-section__button,
.pets-page .friends-slider__controls,
.main-page .friends-slider__controls,
.friend-card__learn-btn {
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.friend-card__title {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.in-addiction-section__legal-iformation {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

.our-friends-section__know-rest-btn, .not-only-section__button,
.pets-page .friends-slider__controls,
.main-page .friends-slider__controls,
.friend-card__learn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.875rem;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #292929;
}
.our-friends-section__know-rest-btn:hover, .not-only-section__button:hover,
.pets-page .friends-slider__controls:hover,
.main-page .friends-slider__controls:hover,
.friend-card__learn-btn:hover {
  background-color: #FDDCC4;
}
.our-friends-section__know-rest-btn :active, .not-only-section__button :active,
.our-friends-section__know-rest-btn :focus,
.not-only-section__button :focus,
.pets-page .friends-slider__controls :active,
.main-page .friends-slider__controls :active,
.friend-card__learn-btn :active,
.pets-page .friends-slider__controls :focus,
.main-page .friends-slider__controls :focus,
.friend-card__learn-btn :focus {
  transform: scale(0.95);
}

.our-friends-section__know-rest-btn, .not-only-section__button {
  background-color: #F1CDB3;
}

.pets-page .friends-slider__controls, .main-page .friends-slider__controls, .friend-card__learn-btn {
  background-color: transparent;
}

.btn_unactive,
.swiper-button-disabled {
  filter: grayscale(1);
  pointer-events: none;
}

.friend-card {
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 435px;
  padding: 0 0 1.875rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background-color: #FAFAFA;
  transition: all 0.3s linear;
}
.friend-card:hover {
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.friend-card:hover > button {
  background-color: #FDDCC4;
}
.friend-card__img {
  margin: 0 auto;
  max-width: 100%;
}
.friend-card__title {
  letter-spacing: 0.06em;
  color: #545454;
}
.friend-card__learn-btn {
  width: 69.26%;
  max-width: 187px;
  height: 52px;
}

.header {
  display: flex;
  align-items: center;
  height: 11.25rem;
}
@media (max-width: 79.9375em) {
  .header {
    height: 120px;
  }
}
.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 1;
}
.menu-open .header::after {
  opacity: 1;
}
.main-page .header {
  background-color: transparent;
}
.pets-page .header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
}
.header__container {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 2.5rem;
}
.menu-open .header__logo {
  opacity: 0;
  pointer-events: none;
}
.logo-header {
  max-width: 11.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
  transition: all 0.3s linear;
}
.logo-header:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.main-page .logo-header__title {
  color: #F1CDB3;
}
.pets-page .logo-header__title {
  color: #545454;
}
.main-page .logo-header__subtitle {
  color: #ffffff;
}
.pets-page .logo-header__subtitle {
  color: #292929;
}

.logo-mobile-menu__title {
  color: #F1CDB3;
}
.logo-mobile-menu__subtitle {
  color: #ffffff;
}

@media (max-width: 48.06125em) {
  .header-menu__body {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    padding: 1.875rem 0.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #292929;
    overflow: auto;
    transition: all 0.3s linear;
  }
  .menu-open .header-menu__body {
    right: 0;
  }
}
.header-menu__mobile-menu-logo {
  display: none;
}
@media (max-width: 48.06125em) {
  .header-menu__mobile-menu-logo {
    display: flex;
  }
}
.header-menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 2.25rem;
}
@media (min-width: 40.625em) and (max-width: 48em) {
  .header-menu__list {
    column-gap: clamp( 0.625rem , -8.3262711864rem  +  22.0338983051vw , 2.25rem );
  }
}
@media (max-width: 48.06125em) {
  .header-menu__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5rem;
  }
}
.header-menu__link {
  transition: all 0.3s linear;
}
@media (max-width: 48.06125em) {
  .header-menu__link {
    font-size: 2rem;
  }
}
.main-page .header-menu__link {
  color: #CDCDCD;
}
.main-page .header-menu__link:hover {
  color: #FAFAFA;
}
.pets-page .header-menu__link {
  color: #545454;
}
.pets-page .header-menu__link:hover {
  color: #292929;
}
@media (max-width: 48.06125em) {
  .main-page .header-menu__link, .pets-page .header-menu__link {
    color: #CDCDCD;
  }
  .main-page .header-menu__link:hover, .pets-page .header-menu__link:hover {
    color: #FAFAFA;
  }
}
.main-page .header-menu__link_about {
  color: #FAFAFA;
}
.pets-page .header-menu__link_pets {
  color: #292929;
}
@media (max-width: 48.06125em) {
  .pets-page .header-menu__link_pets {
    color: #FAFAFA;
  }
}
.main-page .header-menu__link_about, .pets-page .header-menu__link_pets {
  position: relative;
}
.main-page .header-menu__link_about::after, .pets-page .header-menu__link_pets::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background: #F1CDB3;
}
@media (max-width: 48.06125em) {
  .main-page .header-menu__link_about::after, .pets-page .header-menu__link_pets::after {
    bottom: -10px;
    color: #FAFAFA;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 48.06125em) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 2.8125rem;
    right: 3.3125rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s linear;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  .icon-menu::before {
    top: 4px;
  }
  .icon-menu::after {
    bottom: 4px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu {
    transform: rotate(90deg);
  }
}

.general-bg-wrap {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.not-only-section {
  min-height: 728px;
  background: url(../img/not-only-section/start-screen-puppy.png) right 7% bottom 0/698px 728px no-repeat;
}
@media (max-width: 79.9375em) {
  .not-only-section {
    min-height: 1045px;
    background: url(../img/not-only-section/start-screen-puppy.png) right 15% bottom 0/569px 593px no-repeat;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .not-only-section {
    min-height: 703px;
    background: url(../img/not-only-section/start-screen-puppy.png) right 15% bottom 0/260px 272px no-repeat;
  }
}
.not-only-section__content-wrap {
  margin: 83px 0 0 0;
  max-width: 28.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
@media (max-width: 79.9375em) {
  .not-only-section__content-wrap {
    margin: -50px auto 0;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .not-only-section__content-wrap {
    margin: -12px auto 0;
  }
}
.not-only-section__title {
  color: #ffffff;
}
@media (max-width: 48.06125em) {
  .not-only-section__title {
    font-size: 1.5625rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
.not-only-section__paragraph {
  color: #CDCDCD;
}
@media (max-width: 48.06125em) {
  .not-only-section__paragraph {
    text-align: center;
  }
}
.not-only-section__button {
  width: 12.9375rem;
  height: 3.25rem;
}
@media (max-width: 79.9375em) {
  .not-only-section__button {
    margin: 0 auto;
  }
}

.about-section {
  background-color: #ffffff;
}
.about-section__container {
  display: flex;
  justify-content: center;
  column-gap: 10%;
}
@media (max-width: 79.9375em) {
  .about-section__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 79.9375em) {
  .about-section__img-wrap {
    margin-top: 80px;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .about-section__img-wrap {
    max-width: 86.666%;
    margin-top: 41px;
  }
}
.about-section__img {
  max-width: 100%;
}
.about-section__text-content-wrap {
  margin-top: 15px;
  max-width: 26.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 79.9375em) {
  .about-section__text-content-wrap {
    margin-top: 0;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .about-section__text-content-wrap {
    max-width: 90%;
    row-gap: 23px;
  }
}
.about-section__title {
  max-width: 23.125rem;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 48.06125em) {
  .about-section__title {
    text-align: center;
  }
}
.about-section__paragraph1, .about-section__paragraph2 {
  color: #4C4C4C;
}
@media (max-width: 48.06125em) {
  .about-section__paragraph1, .about-section__paragraph2 {
    text-align: justify;
  }
}

.our-friends-section {
  background-color: #F6F6F6;
}
.our-friends-section__title {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends-section__slider-wrap {
  margin-top: 60px;
}
@media (max-width: 79.9375em) {
  .our-friends-section__slider-wrap {
    margin-top: 58px;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .our-friends-section__slider-wrap {
    margin-top: 41px;
  }
}
.our-friends-section__know-rest-btn {
  margin: 60px auto 0;
  width: 16.3125rem;
  height: 3.25rem;
}
@media (max-width: 48.06125em) {
  .our-friends-section__know-rest-btn {
    margin: 42px auto 0;
  }
}

.main-page .friends-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}
@media (max-width: 48.06125em) {
  .main-page .friends-slider {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 20px;
  }
}
.main-page .friends-slider__controls {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}
.main-page .friends-slider__view-window {
  width: 100%;
  max-width: 990px;
  height: auto;
}
@media (max-width: 79.9375em) {
  .main-page .friends-slider__view-window {
    max-width: 580px;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .main-page .friends-slider__view-window {
    order: -1;
    max-width: 270px;
  }
}
.help-section {
  background-color: #ffffff;
}
.help-section__title {
  max-width: 19.375rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 48.06125em) {
  .help-section__title {
    max-width: 225px;
  }
}
.help-section__help-options-wrap {
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 55px;
}
@media (max-width: 79.9375em) {
  .help-section__help-options-wrap {
    column-gap: 8.4%;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .help-section__help-options-wrap {
    margin: 40px auto 0;
    max-width: 96.7%;
    justify-content: flex-start;
    gap: 30px;
  }
}

.help-options__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
@media (max-width: 79.9375em) {
  .help-options__item {
    flex-basis: 170px;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .help-options__item {
    flex-basis: 130px;
    row-gap: 20px;
  }
}
.help-options__ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-options__ico::before {
  font-size: 3.75rem;
  color: #F1CDB3;
}
@media (max-width: 48.06125em) {
  .help-options__ico::before {
    font-size: 3.125rem;
  }
}
.help-options__text {
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 48.06125em) {
  .help-options__text {
    font-size: 0.9375rem;
  }
}

.in-addiction-section {
  background-color: #F6F6F6;
}
.in-addiction-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5%;
}
@media (max-width: 79.9375em) {
  .in-addiction-section__container {
    flex-direction: column-reverse;
    row-gap: 61px;
  }
}
@media (max-width: 79.9375em) and (max-width: 48.06125em) {
  .in-addiction-section__container {
    row-gap: 42px;
  }
}
@media (max-width: 48.06125em) {
  .in-addiction-section__img-wrap {
    max-width: 260px;
  }
}
.in-addiction-section__img {
  max-width: 100%;
}
.in-addiction-section__text-content-wrap {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
@media (max-width: 48.06125em) {
  .in-addiction-section__text-content-wrap {
    row-gap: 20px;
    max-width: 300px;
    align-items: center;
  }
}
.in-addiction-section__title {
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 48.06125em) {
  .in-addiction-section__title {
    text-align: center;
  }
}
.in-addiction-section__subtitle {
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 48.06125em) {
  .in-addiction-section__subtitle {
    text-align: center;
    line-height: 160%;
    letter-spacing: 0;
  }
}
.in-addiction-section__card-number {
  width: 17.45em;
  max-width: 91.84%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.9375rem;
  background-color: #F1CDB3;
  border-radius: 9px;
  letter-spacing: 0.06em;
  color: #545454;
  transition: all 0.3s linear;
}
@media (max-width: 48.06125em) {
  .in-addiction-section__card-number {
    width: 100%;
    max-width: 93.33%;
    font-size: 0.9375rem;
  }
}
.in-addiction-section__card-number:hover {
  background-color: #FDDCC4;
}
.in-addiction-section__card-number::before {
  font-size: 1.4375rem;
  color: #292929;
}
.in-addiction-section__legal-iformation {
  color: #B2B2B2;
}
@media (max-width: 48.06125em) {
  .in-addiction-section__legal-iformation {
    text-align: justify;
    max-width: 280px;
  }
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 56px 0 60px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 13.333%;
  row-gap: 39px;
  background: url(../img/footer/footer-puppy.png) bottom right/auto no-repeat;
}
@media (max-width: 79.9375em) {
  .footer__container {
    padding: 30px 30px 375px;
    justify-content: center;
    column-gap: 8.4%;
    background: url(../img/footer/footer-puppy.png) bottom center/auto no-repeat;
  }
}
@media (max-width: 48.06125em) {
  .footer__container {
    padding: 30px 10px 309px;
    flex-direction: column;
    align-items: center;
    background: url(../img/footer/footer-puppy.png) bottom center/260px no-repeat;
  }
}
.footer__contact-details-wrap {
  max-width: 280px;
}
.footer__visit-details-wrap {
  max-width: 302px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  row-gap: 43px;
}
@media (max-width: 48.06125em) {
  .contact-details {
    align-items: center;
  }
}
.contact-details__title {
  color: #ffffff;
  letter-spacing: 0.06em;
}
@media (max-width: 48.06125em) {
  .contact-details__title {
    text-align: center;
  }
}
.contact-details__email, .contact-details__phone {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.contact-details__email:hover, .contact-details__phone:hover {
  color: #FDDCC4;
}
.contact-details__email::before {
  font-size: 26px;
}
.contact-details__phone::before {
  font-size: 32px;
}

.visit-details {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}
@media (max-width: 48.06125em) {
  .visit-details {
    row-gap: 39px;
  }
}
.visit-details__title {
  color: #ffffff;
  letter-spacing: 0.06em;
}
@media (max-width: 48.06125em) {
  .visit-details__title {
    max-width: 270px;
    align-self: center;
    text-align: center;
  }
}
.visit-details__boston-address, .visit-details__london-address {
  display: flex;
  align-items: center;
  column-gap: 1.0625rem;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.visit-details__boston-address:hover, .visit-details__london-address:hover {
  color: #FDDCC4;
}
.visit-details__boston-address::before, .visit-details__london-address::before {
  font-size: 2rem;
}
.pets-page .our-friends-section {
  background-color: #F6F6F6;
  margin-top: 120px;
}
@media (max-width: 79.9375em) {
  .pets-page .our-friends-section {
    padding: 80px 0 76px 0;
  }
}
@media (max-width: 48.06125em) {
  .pets-page .our-friends-section {
    padding: 42px 0;
  }
}
.pets-page .our-friends-section__tittle {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-page .our-friends-section__slider-wrap {
  margin: 59px auto 0;
}
@media (max-width: 79.9375em) {
  .pets-page .our-friends-section__slider-wrap {
    margin-top: 29px;
  }
}
@media (max-width: 48.06125em) {
  .pets-page .our-friends-section__slider-wrap {
    margin-top: 41px;
  }
}

.pets-page .friends-slider__view-window {
  width: 100%;
  max-width: 1200px;
  height: auto;
}
@media (max-width: 79.9375em) {
  .pets-page .friends-slider__view-window {
    margin: 0 auto;
    max-width: 580px;
  }
}
@media (max-width: 48.06125em) {
  .pets-page .friends-slider__view-window {
    max-width: 270px;
  }
}
.pets-page .friends-slider__controls-wrap {
  margin: 60px auto 0;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 79.9375em) {
  .pets-page .friends-slider__controls-wrap {
    margin: 40px auto 0;
  }
}
@media (max-width: 48.06125em) {
  .pets-page .friends-slider__controls-wrap {
    margin: 42px auto 0;
  }
}
.pets-page .friends-slider__controls {
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}
.pets-page .friends-slider__controls_output {
  background-color: #FDDCC4;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
